.reservation {
  background-image: url(/images/background_reservation.svg);
  background-color: #d9e7ff;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  padding-top: 100px;
  margin: 0px auto 80px;
}

.reservation__form {
  margin-top: 80px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
